body {
  padding-top: 5rem;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.top-buffer { margin-top:20px; }

img{border:solid 1px black; margin:10px;}

.selected{border:solid 1px red; box-shadow:0px 0px 20px 1px #333;}

.modal-dialog { 
width: 75% !important;
max-width: 75%;
}